<launch>

<node name="arduino_bridge" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600"/>
</node>

<node name="diff_drive_controller" pkg="tairema" type="differential_drive_controller">
    <remap from="/cmd_vel" to="/sim1/cmd_vel"/>
</node>

<node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/sim1/cmd_vel"/>
</node>

</launch>